/*  

h1 {


  color: rgb(36, 179, 36);
}
.titre {
  color: brown;
}

#principal {
  color: blueviolet;
}

@keyframes ghost-animation {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(50px, -50px);
  }
  50% {
    transform: translate(50px, 50px);
  }
  75% {
    transform: translate(100px, 50px);
  }

  100% {
    transform: translate(0, 0);
  }
/* } */

#animation2 {
  height: 50px;
  width: 50px;
  background-color: aquamarine;
  border-radius: 50%;

  animation: flip-scale-up-hor 0.5s linear both;

  left: 50%;
  top: 50%;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
